<a href="https://colab.research.google.com/github/Yaaxek/Data-Science-funciones-estructuras-de-datos-y-excepciones/blob/main/Ejercicios_para_practicar_funciones%2C_estructuras_de_datos_y_excepciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Calentamiento**

Escribe un código para instalar la versión 3.8 de la biblioteca matplotlib.

In [ ]:
!pip install matplotlib==3.8

Collecting matplotlib==3.8
  Downloading matplotlib-3.8.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (4.60.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (1.4.9)
Collecting numpy<2,>=1.21 (from matplotlib==3.8)
  Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (25.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib==3.8) (1.17.0)
Downloading matplotlib-3.8.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 78.5 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.0/18.0 MB 68.4 MB/s eta 0:00:00
Installing collected packages: numpy, matplotlib
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.7.1
    Uninstalling matplotlib-3.7.1:
      Successfully uninstalled matplotlib-3.7.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jaxlib 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
pytensor 2.35.1 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
jax 0.7.2 requires numpy>=2.0, but you have numpy 1.26.4 which is incompatible.
thinc 8.3.6 requires numpy<3.0.0,>=2.0.0, but you have numpy 1.26.4 which is incompatible.
opencv-contrib-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
opencv-python-headless 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
opencv-python 4.12.0.88 requires numpy<2.3.0,>=2; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
Successfully installed matplotlib-3.8.0 numpy-1.26.4

In [ ]:
import matplotlib

In [ ]:
matplotlib.__version__

'3.8.0'

2 - Escribe un código para importar la biblioteca numpy con el alias np.

In [ ]:
import numpy as np

In [ ]:
np.__version__

'1.26.4'

3 - Crea un programa que lea la siguiente lista de números y elija uno al azar.

In [ ]:
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [ ]:
from random import choice

In [ ]:
choice(lista)

54

4 - Crea un programa que genere aleatoriamente un número entero menor que 100.

In [ ]:
from random import randint

In [ ]:
randint(0, 100)

95

5 - Crea un programa que solicite a la persona usuaria ingresar dos números enteros y calcule la potencia del primer número elevado al segundo.

In [ ]:
from math import pow
x = int(input("Ingrese el primer número: "))
y = int(input("Ingrese el segundo número: "))
print(pow(x, y))

Ingrese el primer número: 10
Ingrese el segundo número: 3
1000.0

#**Aplicado a proyectos**

6 - Se debe escribir un programa para sortear a un seguidor de una red social para ganar un premio. La lista de participantes está numerada y debemos elegir aleatoriamente un número según la cantidad de participantes. Pide a la persona usuaria que proporcione el número de participantes del sorteo y devuelve el número sorteado.

In [ ]:
from random import randint
sorteo=int(input("Ingrese la cantidad de participantes: "))
print(randint(1, sorteo))

Ingrese la cantidad de participantes: 65
59

7 - Has recibido una solicitud para generar números de token para acceder a la aplicación de una empresa. El token debe ser par y variar de 1000 a 9998. Escribe un código que solicite el nombre de la persona usuaria y muestre un mensaje junto a este token generado aleatoriamente.

In [ ]:
from random import randrange
nombre=input('Usuario:')
token=randrange(1000, 9998, 2)
print(f"Hola, {nombre}, tu token de acceso es {token} ¡Bienvenido/a!")

Usuario:Juan
Hola, Juan, tu token de acceso es 4348 ¡Bienvenido/a!

8 - Para diversificar y atraer nuevos clientes, una lanchonete creó un ítem misterioso en su menú llamado "ensalada de frutas sorpresa". En este ítem, se eligen aleatoriamente 3 frutas de una lista de 12 para componer la ensalada de frutas del cliente. Crea el código que realice esta selección aleatoria según la lista dada.

In [ ]:
frutas = ["manzana", "banana", "uva", "pera", "mango", "coco", "sandia", "fresa", "naranja", "maracuya", "kiwi", "cereza"]

In [ ]:
from random import sample
sample(frutas,k=3)

['uva', 'naranja', 'cereza']

9 - Has recibido un desafío para calcular la raíz cuadrada de una lista de números, identificando cuáles resultan en un número entero. La lista es la siguiente:

In [ ]:
numeros = [2, 8, 15, 23, 91, 112, 256]

In [ ]:
from math import sqrt
for numero in numeros:
  raiz=sqrt(numero)
  if raiz.is_integer():
    print(f"La raíz cuadrada de {numero} es {int(raiz)}")

La raíz cuadrada de 256 es 16

10 - Haz un programa para una tienda que vende césped para jardines. Esta tienda trabaja con jardines circulares y el precio del metro cuadrado de césped es de R$ 25,00. Pide a la persona usuaria el radio del área circular y devuelve el valor en reales de cuánto tendrá que pagar.

In [ ]:
import math
radio=float(input('Ingrese el radio del área circular: '))
precio=25
area=math.pi*math.pow(radio,2)
total=precio*area
print(f'El costo es de R${round(total,2)}')

Ingrese el radio del área circular: 5
El costo es de R$1963.5

#**Calentamiento**

1 - Escribe un código que lee la lista siguiente y realiza:

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.

In [ ]:
tamano=len(lista)
maxi=max(lista)
mini=min(lista)
suma=sum(lista)
print(f'La lista tiene {tamano} números, donde el mayor es {maxi} y el menor es {mini}. La suma de los valores es {suma}.')

La lista tiene 17 números, donde el mayor es 99 y el menor es 11. La suma de los valores es 743.

2 - Escribe una función que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:

In [ ]:
def tabla(numero):
  print(f'Tabla del {numero}:')
  for i in range(1,11):
    print(f'{numero} x {i} = {numero*i}')
tabla(7)

Tabla del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

3 - Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

In [ ]:
lista=[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
def multiplos(lista):
  return [i for i in lista if i%3==0]
multiplos_3=multiplos(lista)
print(multiplos_3)
'El primer i es el que se agregara a multiplos_3 si cumple la condicion'
'El segundo i es el que iterara en la lista, es decir es el 97,80,94...'

[24, 99]

4 - Crea una lista de los cuadrados de los números de la siguiente lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Recuerda utilizar las funciones lambda y map() para calcular el cuadrado de cada elemento de la lista.

In [ ]:
lista=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def cuadrado(lista):
  return list(map(lambda x: x**2,lista))
print(cuadrado(lista))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#**Aplicando a proyectos**

5 - Has sido contratado como científico(a) de datos de una asociación de skate. Para analizar las notas recibidas por los skaters en algunas competiciones a lo largo del año, necesitas crear un código que calcule la puntuación de los atletas. Para ello, tu código debe recibir 5 notas ingresadas por los jueces.

In [ ]:
notas=[float(input(f'Ingrese la nota {i+1}: ')) for i in range(5)]
print(f'Las notas son: {notas}')
promedio=sum(notas)/len(notas)
print(f'El promedio es: {promedio}')

Ingrese la nota 1: 7
Ingrese la nota 2: 4
Ingrese la nota 3: 7
Ingrese la nota 4: 5
Ingrese la nota 5: 3
Las notas son: [7.0, 4.0, 7.0, 5.0, 3.0]
El promedio es: 5.2

6 - Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de sus estudiantes, necesitas crear una función que reciba una lista de 4 notas y devuelva:
mayor nota
menor nota
media
situación (Aprobado(a) o Reprobado(a))
Uso de la función
Mostrar: El estudiante obtuvo una media de `media`, con la mayor nota de `mayor` puntos y la menor nota de `menor` puntos y fue `situacion`.)

In [ ]:
nota=[float(input(f'Ingrese la nota {i+1}:'))for i in range(4)]
def analisis(nota):
  mayor=max(nota)
  menor=min(nota)
  media=sum(nota)/len(nota)
  if media>=6:
    situacion='Aprobado'
  else:
    situacion='Reprobado'
  return mayor,menor,media,situacion

resultado=analisis(nota)
print(f'El estudiante obtuvo una media de {resultado[2]:.2f}, con la mayor nota de {resultado[0]:.2f} puntos y la menor nota de {resultado[1]:.2f} puntos y fue {resultado[3]}.')

Ingrese la nota 1:4
Ingrese la nota 2:5
Ingrese la nota 3:6
Ingrese la nota 4:7
El estudiante obtuvo una media de 5.50, con la mayor nota de 7.00 puntos y la menor nota de 4.00 puntos y fue Reprobado.

7 - Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante concatenándolos para presentar sus nombres completos en la forma Nombre Apellido. Las listas son:

In [ ]:
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]
normalizado=list(map(lambda x,y: x.capitalize()+' '+y.capitalize(),nombres,apellidos))
print(normalizado)

['Juan Silva', 'Maria Sosa', 'José Tavares']

8 - Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de recopilación de datos sobre el rendimiento de los jugadores y del equipo en su conjunto. Tu primera acción es crear una forma de calcular la puntuación del equipo en el campeonato nacional a partir de los datos de goles marcados y recibidos en cada juego.

Escribe una función llamada calcula_puntos() que recibe como parámetros dos listas de números enteros, representando los goles marcados y recibidos por el equipo en cada partido del campeonato. La función debe devolver la puntuación del equipo y el rendimiento en porcentaje, teniendo en cuenta que la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.

Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó. En caso de ser igual, el equipo empató, y si es menor, el equipo perdió. Para calcular el rendimiento, debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que podría recibir.

Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:

In [ ]:
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
def calcula_puntos(goles_marcados,goles_recibidos):
  puntos=0
  for i in range(len(goles_marcados)):
    if goles_marcados[i]>goles_recibidos[i]:
      puntos+=3
    elif goles_marcados[i]==goles_recibidos[i]:
      puntos+=1
    else:
      puntos+=0
  max_puntos=len(goles_marcados)*3
  rendimiento=(puntos/max_puntos)*100
  return puntos,rendimiento

puntos_equipo, rendimiento_equipo = calcula_puntos(goles_marcados, goles_recibidos)
print(f'La puntuación del equipo es {puntos_equipo} \nSu rendimiento es {rendimiento_equipo:.2f} %')

La puntuación del equipo es 7
Su rendimiento es 46.67 %

In [ ]:
hotel=150
otros=[200, 400, 250, 300]
distancia=[850, 800, 300, 550]
dias=int(input('Ingrese la cantidad de días: '))
donde=int(input('Ingrese el lugar de destino: Salvador [1], Fortaleza[2], Natal[3] o Aracaju[4].'))
def nombre():
  if donde==1:
    nombre='Salvador'
  elif donde==2:
    nombre='Fortaleza'
  elif donde==3:
    nombre='Natal'
  else:
    nombre='Aracaju'
  return nombre

def gastos_hotel():
  hospedaje=dias*hotel
  return hospedaje

def gasolina_final():
  distancia_sel = distancia[donde - 1]
  gasolina_necesitada = distancia_sel / 14
  precio = gasolina_necesitada * 5
  return precio

def otros_gastos():
  otros_gastos = otros[donde - 1]
  return otros_gastos

total_hospedaje = gastos_hotel()
total_gasolina = gasolina_final()
total_otros_gastos = otros_gastos()
nombre=nombre()

total = total_hospedaje + total_gasolina + total_otros_gastos
print(f'Con base en los gastos definidos, un viaje de {dias} dias a {nombre} desde Recife costaria {total} reales.')

Ingrese la cantidad de días: 3
Ingrese el lugar de destino: Salvador [1], Fortaleza[2], Natal[3] o Aracaju[4].1
Con base en los gastos definidos, un viaje de 3 dias a Salvador desde Recife costaria 953.5714285714286 reales.

9 - Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro ciudades desde Recife, siendo ellas: Salvador, Fortaleza, Natal y Aracaju.

El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje en coche es de 14 km/l, siendo que el precio de la gasolina es de 5 reales por litro. Los gastos con paseos y alimentación a realizar en cada una de ellas por día serían [200, 400, 250, 300], respectivamente.

Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente [850, 800, 300, 550] km, crea tres funciones: la primera función calcula los gastos de hotel (gasto_hotel), la segunda calcula los gastos de gasolina (gasto_gasolina) y la tercera los gastos de paseo y alimentación (gasto_paseo).

In [ ]:
costo_diario_hotel = 150
consumo_gasolina_km_l = 14
precio_gasolina_litro = 5

gastos_varios = [200, 400, 250, 300]
distancias = [850, 800, 300, 550]

ciudades = ["Salvador", "Fortaleza", "Natal", "Aracaju"]

def gasto_hotel(dias):
  return costo_diario_hotel * dias

def gasto_gasolina(ciudad_idx):
  distancia_ida_vuelta = 2 * distancias[ciudad_idx]
  litros_necesarios = distancia_ida_vuelta / consumo_gasolina_km_l
  costo_gasolina = litros_necesarios * precio_gasolina_litro
  return costo_gasolina

def gasto_paseo(ciudad_idx, dias):
  return gastos_varios[ciudad_idx] * dias

dias = int(input("Ingrese la cantidad de días del viaje: "))

print("\nSeleccione la ciudad de destino:")
for i, ciudad in enumerate(ciudades):
  print(f"{i + 1}. {ciudad}")

don_de_int = int(input("Ingrese el número de la ciudad: "))

if 1 <= don_de_int <= len(ciudades):
  ciudad_idx = don_de_int - 1
  ciudad_elegida = ciudades[ciudad_idx]

  costo_hotel = gasto_hotel(dias)
  costo_gasolina_total = gasto_gasolina(ciudad_idx)
  costo_paseo_total = gasto_paseo(ciudad_idx, dias)

  costo_total_viaje = costo_hotel + costo_gasolina_total + costo_paseo_total


  print(f"\n------- Resumen del Viaje a {ciudad_elegida} -------")
  print(f"Días de viaje: {dias}")
  print(f"Gasto de hotel: R${costo_hotel:.2f}")
  print(f"Gasto de gasolina: R${costo_gasolina_total:.2f}")
  print(f"Gasto de paseos y alimentación: R${costo_paseo_total:.2f}")
  print(f"Costo total estimado del viaje: R${costo_total_viaje:.2f}")
else:
  print("Número de ciudad inválido. Por favor, intente de nuevo.")

Ingrese la cantidad de días del viaje: 3

Seleccione la ciudad de destino:
1. Salvador
2. Fortaleza
3. Natal
4. Aracaju
Ingrese el número de la ciudad: 4

------- Resumen del Viaje a Aracaju -------
Días de viaje: 3
Gasto de hotel: R$450.00
Gasto de gasolina: R$392.86
Gasto de paseos y alimentación: R$900.00
Costo total estimado del viaje: R$1742.86

10 - Has comenzado una pasantía en una empresa que trabaja con procesamiento de lenguaje natural (NLP). Tu líder te solicitó que crees un fragmento de código que reciba una frase escrita por el usuario y filtre solo las palabras con un tamaño mayor o igual a 5, mostrándolas en una lista. Esta demanda se centra en el análisis del patrón de comportamiento de las personas al escribir palabras de esta cantidad de caracteres o más.

Consejo: utiliza las funciones lambda y filter() para filtrar estas palabras. Recordando que la función integrada filter() recibe una función (en nuestro caso, una función lambda) y filtra un iterable según la función. Para tratar la frase, utiliza replace() para cambiar ',' '.', '!' y '?' por espacio.

Utiliza la frase "Aprender Python aquí en Alura es muy bueno" para probar el código.

In [ ]:
frase=input('Ingrese una frase:')
frase=frase.replace(',',' ').replace('.',' ').replace('!',' ').replace('?',' ').split()
palabras=list(filter(lambda x: len(x)>=5,frase))
print(palabras)

Ingrese una frase:Aprender Python aquí en Alura es muy bueno
['Aprender', 'Python', 'Alura', 'bueno']

#**Desafío: hora de practicar**

1 - Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas en la siguiente lista:

In [ ]:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]
for lista in lista_de_listas:
  print(sum(lista))

24
10
16

2 - Crea un código para generar una lista que almacene el tercer elemento de cada tupla contenida en la siguiente lista de tuplas:

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
for tupla in lista_de_tuplas:
  print(tupla[2])

81
67
83

3 - A partir de la lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crea un código para generar una lista de tuplas en la que cada tupla tenga el primer elemento como la posición del nombre en la lista original y el segundo elemento siendo el propio nombre.

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_de_tuplas = [(i, lista[i]) for i in range(len(lista))]
print(lista_de_tuplas)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

4 - Crea una lista usando la comprensión de listas (list comprehension) que almacene solo el valor numérico de cada tupla en caso de que el primer elemento sea 'Apartamento', a partir de la siguiente lista de tuplas:

In [ ]:
alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
alquiler_final=[alquiler[1] for i in alquiler if i[0]=='Apartamento']
print(alquiler_final)

[('Apartamento', 1400), ('Apartamento', 1400), ('Apartamento', 1400)]

5 - Crea un diccionario usando la comprensión de diccionarios (dict comprehension) en el que las claves estén en la lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] y los valores estén en gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
diccionario={meses[i]:gasto[i] for i in range(len(meses))}
print(diccionario)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

6 - Una tienda tiene una base de datos con la información de venta de cada representante y de cada año y necesita filtrar solo los datos del año 2022 con ventas mayores a 6000. La tienda proporcionó una muestra con solo las columnas de los años y los valores de venta para que puedas ayudar a realizar la filtración de los datos a través de un código:

In [ ]:
ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
ventas_2022=[venta for venta in ventas if venta[0]=='2022' and venta[1]>6000]
print(ventas_2022)

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

7 - Una clínica analiza datos de pacientes y almacena el valor numérico de la glucosa en una base de datos y le gustaría etiquetar los datos de la siguiente manera:

Glucosa igual o inferior a 70: 'Hipoglicemia'
Glucosa entre 70 y 99: 'Normal'
Glucosa entre 100 y 125: 'Alterada'
Glucosa superior a 125: 'Diabetes'
La clínica proporcionó parte de los valores y tu tarea es crear una lista de tuplas usando la comprensión de listas que contenga la etiqueta y el valor de la glucemia en cada tupla.

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
etiqueta=['Hipoglicemia' if i<=70 else 'Normal' if 70<i<=99 else 'Alterada' if 100<i<=125 else 'Diabetes' for i in glicemia]
print(etiqueta)

['Diabetes', 'Normal', 'Hipoglicemia', 'Normal', 'Alterada', 'Hipoglicemia', 'Hipoglicemia', 'Diabetes', 'Normal', 'Hipoglicemia', 'Hipoglicemia', 'Normal', 'Hipoglicemia', 'Alterada', 'Alterada', 'Hipoglicemia', 'Normal', 'Normal', 'Alterada', 'Normal', 'Diabetes', 'Hipoglicemia', 'Normal', 'Normal']

8 - Un comercio electrónico tiene información de id de venta, cantidad vendida y precio del producto divididos en las siguientes listas: La plataforma necesita estructurar estos datos en una tabla que contenga el valor total de la venta, que se obtiene multiplicando la cantidad por el precio unitario. Además, la tabla debe contener un encabezado indicando las columnas: 'id', 'cantidad', 'precio' y 'total'.

Crea una lista de tuplas en la que cada tupla tenga id, cantidad, precio y valor total, siendo la primera tupla el encabezado de la tabla.

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
productos=[('ID','cantidad','precio','total')]
for i in range(len(id)):
  productos.append((id[i],cantidad[i],precio[i],cantidad[i]*precio[i]))
print(productos)

[('ID', 'cantidad', 'precio', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

9 - Una empresa tiene sucursales distribuidas en los estados de la región Sudeste de Brasil. En una de las tablas de registro de las sucursales, hay una columna que contiene la información de a qué estado pertenece: estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE'].

La empresa siempre está abriendo nuevas sucursales, por lo que la tabla está constantemente recibiendo nuevos registros y al gerente le gustaría tener la información actualizada de la cantidad de sucursales en cada estado.

A partir de la columna con la información de los estados, crea un diccionario utilizando la comprensión de diccionarios (dict comprehension) con la clave siendo el nombre de un estado y el valor siendo la cantidad de veces que aparece el estado en la lista.

Consejo: Puedes hacer un paso intermedio para generar una lista de listas en la que cada una de las listas tenga el nombre de solo un estado con valores repetidos.

In [ ]:
estados =['CMX', 'OAX', 'PUE', 'PUE', 'CMX', 'PUE', 'OAX', 'OAX', 'OAX', 'CMX', 'CMX', 'PUE', 'OAX', 'CMX', 'VER', 'PUE', 'VER', 'CMX', 'PUE', 'CMX', 'OAX', 'CMX', 'PUE']
estados_solos=list(set(estados))
diccionario={estado:estados.count(estado) for estado in estados_solos}
print(diccionario)

{'VER': 2, 'OAX': 6, 'CMX': 8, 'PUE': 7}

10 - En esa misma tabla de registro de sucursales, hay una columna con la información de la cantidad de personas empleadas y el gerente quisiera tener un agrupamiento de la suma de esas personas para cada estado. Las informaciones contenidas en la tabla son:
A partir de la lista de tuplas, crea un diccionario en el que las claves son los nombres de los estados únicos y los valores son las listas con el número de empleados referentes al estado. También crea un diccionario en el que las claves son los nombres de los estados y los valores son la suma de empleados por estado.

In [ ]:
empleados = [('CMX', 16), ('OAX', 8), ('PUE', 9), ('PUE', 6), ('CMX', 10), ('PUE', 4), ('OAX',9),  ('OAX', 7), ('OAX', 12), ('CMX', 7), ('CMX', 11), ('PUE',8), ('OAX',8), ('CMX',9), ('VER', 13), ('PUE', 5),  ('VER', 9), ('CMX', 12), ('PUE', 10), ('CMX', 7), ('OAX', 14), ('CMX', 10), ('PUE', 12)]
estados=list(set([empleado[0] for empleado in empleados]))
print(estados)
diccionario={estado:[empleado[1] for empleado in empleados if empleado[0]==estado] for estado in estados}
print(diccionario)
diccionario_suma={estado:[sum(empleado[1] for empleado in empleados if empleado[0]==estado)] for estado in estados}
print(diccionario_suma)

['VER', 'OAX', 'CMX', 'PUE']
{'VER': [13, 9], 'OAX': [8, 9, 7, 12, 8, 14], 'CMX': [16, 10, 7, 11, 9, 12, 7, 10], 'PUE': [9, 6, 4, 8, 5, 10, 12]}
{'VER': [22], 'OAX': [58], 'CMX': [82], 'PUE': [54]}

#**Calentamiento**

1 - Haz un programa que solicite a la persona usuaria ingresar dos números decimales y calcular la división entre estos números. El código debe incluir un manejo de error, indicando el tipo de error que se generó si la división no es posible.

Prueba el programa con el segundo valor numérico de la entrada igual a 0. También prueba usando caracteres textuales en la entrada para verificar los tipos de errores que ocurren.

In [15]:
try:
  numero=float(input('Ingrese el primer número:'))
  numero2=float(input('Ingrese el segundo número:'))
  print(numero/numero2)
except ZeroDivisionError:
  print('No se puede dividir por cero')
except ValueError:
  print('Debe ingresar un número')

Ingrese el primer número:364
Ingrese el segundo número:gfd
Debe ingresar un número

2 - Haz un programa que solicite a la persona usuaria ingresar un texto que será una clave a buscar en el siguiente diccionario: edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}, almacenando el resultado del valor en una variable. El código debe incluir un manejo de error KeyError, imprimiendo la información 'Nombre no encontrado' en caso de error, e imprimir el valor si no ocurre ninguno.

Prueba el programa con un nombre presente en una de las claves del diccionario y con uno que no esté en el diccionario para verificar el mensaje de error.

In [17]:
try:
  nombre=input('Ingrese el nombre: ')
  edades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}
  print(edades[nombre])
except KeyError:
  print('Nombre no encontrado')

Ingrese el nombre: Juan
Nombre no encontrado

3 - Crea una función que reciba una lista como parámetro y convierta todos los valores de la lista a flotantes. La función debe incluir un manejo de error indicando el tipo de error generado y devolver la lista si no ha ocurrido ningún error. Por último, debe tener la cláusula finally para imprimir el texto: 'Fin de la ejecución de la función'.

In [22]:
def valor_a_flotante(lista):
  try:
    return [float(i) for i in lista]
  except ValueError as e:
    print(f'Error: {e}')
  finally:
    print('Fin de la ejecución de la función')
lista=['1.5','2.34','3.53','4.43']
print(f'Lista convertida: {valor_a_flotante(lista)}')
print(f'Lista original: {lista}')

Fin de la ejecución de la función
Lista convertida: [1.5, 2.34, 3.53, 4.43]
Lista original: ['1.5', '2.34', '3.53', '4.43']

4 - Crea una función que reciba dos listas como parámetros y agrupe los elementos uno a uno de las listas, formando una lista de tuplas de 3 elementos. El primer y segundo elemento de la tupla son los valores en la posición i de las listas y el tercer elemento es la suma de los valores en la posición i de las listas.

La función debe incluir un manejo de error indicando el tipo de error generado y devolver como resultado la lista de tuplas. Si las listas enviadas como parámetro tienen tamaños diferentes, la función debe devolver un IndexError con la frase: 'La cantidad de elementos en cada lista es diferente.'.

In [33]:
def agrupar_listas(lista1,lista2):
  try:
    if len(lista1)!=len(lista2):
      raise IndexError('La cantidad de elementos en cada lista es diferente.')
    return [(lista1[i],lista2[i],lista1[i]+lista2[i]) for i in range(len(lista1))]
  except IndexError as e:
    print(f'Error: {e}')
  except ValueError as e:
    print(f'Error: {e}')
  except TypeError as e:
    print(f'Error: {e}')

In [35]:
lista1 = [4, 6, 7, 9, 10]
lista2 = [-4, 6, 8, 7, 9]
print(agrupar_listas(lista1,lista2))

[(4, -4, 0), (6, 6, 12), (7, 8, 15), (9, 7, 16), (10, 9, 19)]

In [34]:
lista1 = [4, 6, 7, 9, 10, 4]
lista2 = [-4, 6, 8, 7, 9]
print(agrupar_listas(lista1,lista2))

Error: La cantidad de elementos en cada lista es diferente.
None

In [36]:
lista1 = [4, 6, 7, 9, 'A']
lista2 = [-4, 'E', 8, 7, 9]
print(agrupar_listas(lista1,lista2))

Error: unsupported operand type(s) for +: 'int' and 'str'
None

#**Aplicando a proyectos**

5 - Como desafío, se te ha asignado la tarea de desarrollar un código que contabiliza las puntuaciones de estudiantes de una institución educativa de acuerdo con sus respuestas en una prueba. Este código debe ser probado para un ejemplo de 3 estudiantes con una lista de listas en la que cada lista tiene las respuestas de 5 preguntas objetivas de cada estudiante. Cada pregunta vale un punto y las alternativas posibles son A, B, C o D.
Si alguna alternativa en una de las pruebas no está entre las alternativas posibles, debes lanzar un ValueError con el mensaje "La alternativa [alternativa] no es una opción de alternativa válida". El cálculo de las 3 notas solo se realizará mediante las entradas con las alternativas A, B, C o D en todas las pruebas. Si no se lanza la excepción, se mostrará una lista con las notas en cada prueba.

In [37]:
def puntuacion(alternativas):
  calificacion=0
  respuestas = ['D', 'A', 'B', 'C', 'A']
  for i in range(len(alternativas)):
    if alternativas[i] not in ['A','B','C','D']:
      raise ValueError(f'La alternativa {alternativas[i]} no es una opción de alternativa válida')
    elif alternativas[i]==respuestas[i]:
      calificacion+=1
  return calificacion

In [39]:
tests_con_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'E', 'A'], ['D', 'B', 'A', 'C', 'A']]
puntuacion(tests_con_ex)

ValueError: La alternativa ['D', 'A', 'B', 'C', 'A'] no es una opción de alternativa válida

In [38]:
tests_sin_ex = [['D', 'A', 'B', 'C', 'A'], ['C', 'A', 'A', 'C', 'A'], ['D', 'B', 'A', 'C', 'A']]
puntuacion(tests_sin_ex)

ValueError: La alternativa ['D', 'A', 'B', 'C', 'A'] no es una opción de alternativa válida